:root {
  --contrast: 100%;
  --hue: 0deg;
}

body {
  background-color: #333;
  color: #f5f5f5;
  font-family: "Staatliches", cursive;

  /* 6px * 0.5 = 8 px */
  padding: 0.5rem;
  text-align: center;
}

button {
  background-color: black;
  border-color: transparent;
  border-radius: 4px;
  color: white;
  padding: 0.5rem;
}

figure {
  margin: 0;
  padding: 0;
}

/* setting up flex parents */
main,
#film-strip,
#film-string figure {
  display: flex;
}

main {
  flex-direction: column;
  margin: 0 auto;

  /* 'vw' = viewport widths (entire screen) */
  width: 100vw;
}

#film-strip {
  border-bottom: 1px solid #f5f5f5;
  border-top: 1px solid #f5f5f5;
  max-width: 1200px;

  /* top/bottom left/right */
  padding: 1rem 0;
}

/* % is based on an ancestor element with a set width */
img {
  height: auto;
  max-width: 100%;
}

main,
/* go to the film-strip and grab all figures */
#film-strip figure {
  align-items: center;
}

#display img {
  border: 1px solid #ffc922;
  border-radius: 4px;

  /* filter: grayscale(80%); */
  filter: grayscale(0);
  max-height: 40vh; /* 40% of viewport height */
}

/* pseudo-selector (only applies rule when the element is in a specific state */
#film-strip img:focus,
#film-string img:hover {
  cursor: pointer;
}
